@{
    ViewData["Title"] = "HELP";
}
<body style="justify-content: center; overflow-x: hidden">
<h1 class="jumbotron" style="background: linear-gradient(43deg, #add681 0%, #bbedfb);color: rgb(0,0,0); height: 40px;justify-content: center; width: 100pc; margin-left: -10pc">
    Help
</h1>
<ol class="list-group">
    <li class="list-group-item" style="background: linear-gradient(43deg, #add681 0%, #bbedfb);color: rgb(0,0,0);">How to <b>CREATE</b> lesson?</li>
    <li class="list-group-item">1. Go to "Lesson" page using navigation menu in the left part of the page.</li>
    <li class="list-group-item">2. Press "Create Lesson".</li>
    <li class="list-group-item">3. Follow the further instructions.</li>
    <li class="list-group-item">4. Done! Now press "Lesson" button to see list of Lessons. :)</li>
</ol>
<ol class="list-group">
    <li class="list-group-item " style="background: linear-gradient(43deg, #add681 0%, #bbedfb);color: rgb(0,0,0);">How to <b>DELETE</b> lesson?</li>
    <li class="list-group-item">1. Go to "Lesson" page using navigation menu in the left part of the page.</li>
    <li class="list-group-item">2. Find needed lesson. (You can use search box)</li>
    <li class="list-group-item">3. Kick on "Delete" button.</li>
    <li class="list-group-item">4. Confirm delete.</li>
    <li class="list-group-item">4. Done! Now press "Lesson" button to see list of Lessons. :)</li>
</ol>
<ol class="list-group">
    <li class="list-group-item " style="background: linear-gradient(43deg, #add681 0%, #bbedfb);color: rgb(0,0,0);">How to <b>EDIT</b> lesson?</li>
  <li class="list-group-item">1. Go to "Lesson" page using navigation menu in the left part of the page.</li>
  <li class="list-group-item">2. Find needed lesson. (You can use search box)</li>
  <li class="list-group-item">3. Kick on "Edit" button.</li>
  <li class="list-group-item">4. Edit data end press "Save"</li>
  <li class="list-group-item">4. Done! Now press "Lesson" button to see list of Lessons. :)</li>
</ol>
</body>